BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 150
IndentWidth: 4
IndentAccessModifiers: true
UseTab: Never
SpaceAfterCStyleCast: true
NamespaceIndentation: All
PointerAlignment: Left
SpacesInAngles: Never
SpaceAfterTemplateKeyword: true
AllowShortEnumsOnASingleLine: false