BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
IndentWidth: 4
UseTab: Never
SpaceAfterCStyleCast: true
NamespaceIndentation: All
PointerAlignment: Left