BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 150
IndentWidth: 4
UseTab: Never
SpaceAfterCStyleCast: true
NamespaceIndentation: All
PointerAlignment: Left